@import "tailwindcss";



/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* For Tour Component */
@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.animate-fade-in-scale {
  animation: fade-in-scale 0.2s cubic-bezier(0.16, 1, 0.3, 1);
}
